<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <div class="list-container">
        <ul class="cupcakes-list">
        </ul>
    </div>
    <div class="form-container">
        <h2>Add new cupcake</h2>
        <form method="">
            <label for="flavor">Flavor</label>
            <input type="text" id="flavor">
            <label for="size">Size</label>
            <input type="text" id='size'>
            <label for="rating">Rating</label>
            <input type="number" id="rating">
            <label for="image">Image</label>
            <input type="text" id="image">
            <button>Submit</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/static/cupcakes.js"></script>

</body>

</html>